@import '/static/public/styles/1.0.0/variables.css';
@import '/static/public/styles/1.0.0/fonts.css';

/* Buttons */
.dku-btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 8px;
    margin: 0;
    line-height: 1.4;
    background-image: inherit;
    box-shadow: none;
    text-shadow: none;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #cccccc;
    height: 26px;
}

.dku-btn:hover {
    background-color: #dddddd;
}

.dku-btn:disabled {
    background-color: #dddddd;
    cursor: not-allowed;
}

.dku-btn:active {
    background-color: #cccccc;
}

.dku-btn-primary {
    background: var(--blue);
    color: #ffffff;
    border: 1px solid transparent;
}

.dku-btn-primary:hover {
    background: #62a3f5;
}

.dku-btn-primary:disabled {
    background: #62a3f5;
    cursor: not-allowed;
}

.dku-btn-primary:not(:disabled):active {
    background: #22a4d9;
}

.report-box {
    width: 1150px;
    margin-top:24px;
    margin-right:24px;
    margin-left:8px;
    padding-top:24px;
    padding-right:24px;
    padding-left:24px;
    box-shadow: 0px 0px 2px 1px rgba(34, 34, 34, 0.15);
    font-family: var(--font-family);
    font-size: 13px;
    min-height: 100vh;
}

.card-deck {
  margin-right: 8px;
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  width: auto !important;
  margin-right: 8px;
  margin-left: 8px;
}

form {
    margin-bottom: unset;
}

.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.padleftright16 {
    padding: 0 16px;
}

.padtopbot16 {
    padding: 16px 0;
}

.padbot16 {
    padding-bottom: 16px;
}

.mbot0 {
    margin-bottom: 0;
}

.mright4 {
    margin-right: 4px;
}

.mtop16 {
    margin-top: 16px;
}

html {
    background: #f2f2f2;}

h3 {
    margin-bottom: 13px !important;
}

.ultralarge-title-sb {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #666666;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 24px;

}

.grand-title-r {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    color: #666666;

    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 24px;
}

.small-title-sb {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #222222;
}

.title-sb {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
}

.huge-title-sb {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: left;
    color: #222222;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
}


.text-highlight {
    font-weight: 500;
    font-size: 13px;
    color: #222222;
    }

.text-r {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #222222;
}

.text-sb {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #222222;
}

.text-button {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* @white-base */

    color: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 0px;
}

.grand-title-sb {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
}

.info-box {
    background: #ffffff;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    margin:8px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.info-box:hover {
    cursor: pointer;
}

.highlight {
    box-shadow: 0px 0px 2px 1px #3B99FC;
}

.grayoutText {
    opacity: 0.3;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*MODALS*/
.dku-modal-footer {
    height: 30px;
    padding-top: 20px;
}

.dku-button-modal-div {
    float: right;
}

.dku-button-modal {
    font-weight: 450;
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px 8px;
    line-height: 1.4;
    background-image: inherit;
    box-shadow: none;
    text-shadow: none;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    color: black;
    border: 1px solid #cccccc;
    height: 26px;
    border-color: transparent;
    background-color: transparent;
    margin: 0;
}

.dku-button-modal:disabled {
    color: var(--grey-lighten-5);
}

.dku-button-modal:enabled:hover {
    color: black;
    background-color: var(--grey-lighten-6);
}

.dku-button-modal:enabled:active {
    color: black;
    background-color: var(--grey-lighten-5);
}

.dku-modal {
    font-family: var(--font-family);
    max-height: 360px;
    width: 500px;
    padding: 16px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
    box-sizing: unset;
}

.dku-modal-title {
    justify-content: space-between;
}

.icon-grey {
    color: var(--grey-lighten-2);
    cursor: pointer;
}

.icon-grey:hover {
    color: var(--grey-lighten-4);
}

.dku-modal-body {
    overflow: auto;
    max-height: 250px;
    text-align: justify;
    font-size: 14px;
}

.dku-modal-body--error {
    color: var(--error-red);
}

[name=promptForm] {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2px;
    padding-right: 2px;
    min-width: 60%;
    max-width: 80%;
}

.dku-modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dku-title {
    display: flex;
    align-items : center;
    color: var(--grey-lighten-2);
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey-lighten-6);
    padding-bottom: 1%;
    padding-top: 2%;
    margin-bottom: 2%;
    font-size:16px;
    height: 5%;
}

.ellipsed-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* DROPDOWN */

.custom-dropdown {
    border: 1px solid var(--grey-lighten-6);
    cursor: pointer;
    padding: 4px 8px;
    position: relative;
    max-width: 180px;
}

.control-group.disabled {
    pointer-events: none;
}

.control-group.disabled .custom-dropdown {
    color: var(--grey-lighten-5);
}

.custom-dropdown:hover {
    background: var(--grey-lighten-7);
}

.custom-dropdown__title {
    align-items: center;
    justify-content: space-between;
}

.custom-dropdown__body {
    cursor: pointer;
    overflow-y: auto;
    position: absolute;
    font-size: 12px;
    top: 27px;
    left: 0;
    background: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 160px;
    max-height: 200px;
    z-index: 10;
}

.custom-dropdown-row {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 20px;
}

.custom-dropdown-row:hover {
    background: var(--blue-lighten-5);
}

.custom-dropdown-row .icon-font, .custom-dropdown-row .icon-italic, .custom-dropdown-row .numerical, .custom-dropdown-row .vector {
    width: 12px;
    margin-right: 4px;
}

.custom-dropdown-row .icon-font, .custom-dropdown-row .icon-italic {
    font-size: 11px;
}

.icon-ok {
    margin-right: 4px;
}

.icon--hidden {
    visibility: hidden;
}

.settings__form_field {
    padding: 0 4px;
}
